.TaskControlButtons {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	transition: 0.3s;
	min-width: 0;
	overflow: hidden;
	height: 20px;

	&__ControlButtonsWrap {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 60px;
	}

	&__Button {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		margin-right: 5px;

		&:focus {
			outline: none;
		}

		&:last-child {
			margin-right: 0;
		}

		img { height: 20px; }

	}

	&__ShowMore {
		transition: 0.3s;

		&_open img {
			transform: rotate(180deg);
		}
	}

}